*{font-family: 'Cabin', sans-serif;}
.clear{clear:both;}
.pointer{cursor:pointer;}
.margin{margin:0;}
.padding{padding:0;}
.db{display:block;}
.dib{display:inline-block;}
.img{
	max-width:100%;
	max-height:100%;
}
.wauto{width:auto;}
.in-number{width:200px;}

.form-control, .mce-tinymce, .btn, .panel{
    border-radius: 3px;
}

.mce-branding-powered-by{display:none;}

.post-file{
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.post-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    background: 0 0;
    cursor: inherit;
    display: block;
}